@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap');

:root {
    --color-background: #000000;
    --color-text: #F6F6F6;
    --color-primary: #F14A00;
    --color-secondary: #EFB036;

    --font-titles: "Outfit", serif;
    --font-text: "Figtree", serif;
    --font-titles-size: 2.25rem;
    --font-big-size: 1.875rem;
    --font-intermediate-size: 1.5rem;
    --font-text-size: 1.25rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-text);
}

.header {
    padding: 2% 7%;
}

.header__menu {
    display: flex;
    gap: 80px;
    justify-content: center;
}

.header__menu__links {
    font-size: var(--font-intermediate-size);
    color: var(--color-secondary);
    text-decoration: none;
    padding: 10px;
    border: double;
    border-radius: 8px;
    font-weight: 600;
}

.header__menu__links:hover {
    background-color: var(--color-secondary);
    color: var(--color-background);
}

.presentation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 5%;
}

.presentation__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    gap: 2rem;
    text-align: center;
}

.presentation__content__title {
    font-size: var(--font-titles-size);
    font-family: var(--font-titles);
}

.strong__h1 {
    color: var(--color-primary);
}

.presentation__content__paragraph {
    font-size: var(--font-text-size);
    width: 80%;
    max-width: 34.375rem;
    height: auto;
    padding: 10px;
    border: 3px double var(--color-secondary);
    border-radius: 8px;
}

.presentation__content__about {
    width: 80%;
    padding: 10%;
    font-size: var(--font-text-size);
}

.presentation__content__cv {
    font-size: var(--font-big-size);
    text-align: center;
    padding: 10%;
}

.strong__p {
    color: var(--color-secondary);
}

.presentation__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentation__links__icons {
    width: 30px;
    height: 30px;
}


.presentation__links__buttons {
    width: 100%;
    font-size: var(--font-intermediate-size);
    color: var(--color-text);
    border: 2px solid var(--color-primary);
    border-radius: 8px;
    border-color: var(--color-primary);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    gap: 16px;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.presentation__links__buttons:hover {
    background-color: var(--color-primary);
}

.presentation__image {
    width: 40%;
    max-width: 400px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.curriculum__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 5%;
}

.curriculum__list__position {
    font-size: var(--font-intermediate-size);
    text-align: center;
}

.curriculum__list__paragraph,
.curriculum__list__item {
    font-size: var(--font-text-size);
    padding: 5px;
}

.curriculum__image {
    width: 32.5rem;
    height: 45rem;
}

.footer {
    background-color: var(--color-primary);
    color: var(--color-background);
    text-align: center;
    font-family: var(--font-text);
    font-size: var(--font-intermediate-size);
    font-weight: 400;
    padding: 0.875rem;
}

/* RESPONSIVIDAD */

@media (max-width: 1200px) {
    .header {
        padding: 5%;
    }

    .header__menu {
        gap: 1.5rem;
    }

    .header__menu__links {
        font-size: 1.23rem;
        padding: 5px;
    }

    .presentation {
        flex-direction: column-reverse;
        text-align: center;
        padding: 5%;
    }

    .presentation__content {
        width: 100%;
        gap: 1.5rem;
    }

    .presentation__content__paragraph {
        width: 90%;
        max-width: none;
    }

    .presentation__image {
        width: 70%;
        max-width: 300px;
    }

    .presentation__links__buttons {
        width: 80%;
    }

    .curriculum__image {
        width: 65%;
        height: auto;
    }
}

@media (max-width: 768px) {

    .header__menu__links {
        font-size: 1.23rem;
        padding: 5px;
    }


    .presentation__image {
        width: 80%;
        max-width: 250px;
    }

    .presentation__content__paragraph {
        width: 100%;
    }
}

@media (max-width: 540px) {

    .header__menu__links {
        font-size: 1.23rem;
        padding: 0.29rem;
    }
}

@media (max-width: 376px) {

    .header__menu__links {
        font-size: 1rem;
        padding: 0.29rem;
    }
}

@media (max-width: 321px) {

    .header__menu__links {
        font-size: 0.80rem;
        padding: 0.29rem;
        white-space: nowrap;
    }
}

@media (max-width: 290px) {

    .header__menu__links {
        font-size: 0.70rem;
        padding: 0.29rem;
    }
}

@media (max-width: 250px) {

    .header__menu__links {
        font-size: 0.5rem;
        padding: 0.29rem;
    }
}