@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}



body {
    height: 100vh; 
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
    .strong__h1 {
        color:#F14A00;
    };
        
}




.presentation {
    display: flex;
    margin: 7% 13%;
    justify-content: space-between;
}

.presentation__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width: 615px;
    gap: 40px;
}

.presentation__content__title {
    color: white;
    font-size: 36px;
    font-family: "Outfit", serif;
}

.presentation__content__paragraph {
    color: white;
    font-size: 20px;
    font-family: "Figtree", serif;
    text-align: center;
    /*border-style: outset;*/
    border: 3px double white;
    border-color: #EFB036;
    border-radius: 8px;
    width: 550px;
    height: 180px;
    padding: 5px;
}

.strong__p {
    color: #EFB036;
}

.presentation__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.presentation__links__subtitle {
    display: flex;
    flex-direction: column;
    align-content: center;
    color: #F6F6F6;
    font-size: 24px;
    font-family: "Outfit", serif;
}

.presentation__links__icons {
    width: 30px;
    height: 30x;
}

.presentation__links__buttons {
    background-color: #000000;
    color: #F6F6F6;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 16px;
    width: 350px;
    font-size: 24px;
    border: 2px solid #F14A00;
    border-radius: 8px;
    font-family: "Figtree", serif;
   
}

a:hover {
    background-color: #F14A00;
}

.image__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: center;
    width: 420px;
    height: 470px;
     
}

