@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}



body {
    box-sizing: border-box;
    height: 100vh; /* 100% del viewport height */
    background-color: black;
    color: white;    
}

.strong__h1 {
    color:#F14A00;
};



.presentation {
    display: flex;
    margin: 10% 10%;
    justify-content: space-between;
    gap: 40px;
}

.presentation__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 615px;
    gap: 40px;
}

.presentation__content__title {
    color: white;
    font-size: 36px;
    font-family: "Outfit", serif;
}

.presentation__content__paragraph {
    color: white;
    font-size: 20px;
    font-family: "Figtree", serif;
    text-align: center;
    /*border-style: outset;*/
    border: 3px double white;
    border-color: #EFB036;
    border-radius: 8px;
    width: 550px;
    height: 180px;
    padding: 5px;
}

.strong__p {
    color: #EFB036;
}

.presentation__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.presentation__links__title {
    display: flex;
    flex-direction: column;
    align-content: center;
    color: #F6F6F6;
    font-size: 24px;
    font-family: "Outfit", serif;
}

.presentation__links__buttons {
    background-color: #000000;
    color: #F6F6F6;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 350px;
    font-size: 24px;
    border: 2px solid #F14A00;
    border-radius: 8px;
    font-family: "Figtree", serif;
}

a:hover {
    background-color: #F14A00;
}

.image__container {
    display: flex;
    flex-direction: row-reverse;
    
    /*margin-top: 120px;
    margin-left: 200px;
    margin-right: 50px;*/
}

#DataBoard {
    width: 500px;
    height: 300px;
    /*position: absolute;*/
    bottom: 0;
    left: 0;
    z-index: 1; /* Imagen de datos en el fondo */
}

#PersonalPicture {
    width: 250px;
    height: 300px;
    /*position: absolute;*/
    bottom: 50px; /* Ajusta para subir la imagen sobre la otra */
    left: 100px; /* Ajusta para controlar la superposición */
    z-index: 2; /* Imagen personal encima */
    border-radius: 10px;
}