@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap');

:root {
    --color-background: #000000;
    --color-text: #F6F6F6;
    --color-primary: #F14A00;
    --color-secondary: #EFB036;

    --font-titles: "Outfit", serif;
    --font-text: "Figtree", serif;
    --font-titles-size: 2.25rem;
    --font-big-size: 1.875rem;
    --font-intermediate-size: 1.5rem;
    --font-text-size: 1.25rem;
}


* {
    padding: 0;
    margin: 0;
}


.header {
    padding: 2% 0% 0% 7%;
}


.header__menu {
    display: flex;
    gap: 80px
}


.header__menu__links {
    display: flex;
    justify-content: space-between;
    font-family: var(--font-text);
    font-weight: 600;
    font-size: var(--font-intermediate-size);
    color: var(--color-secondary);
    border: double;
    border-radius: 8px;
    padding: 10px;
    text-decoration: none;
}


.header__menu__links:hover {
    background-color: var(--color-secondary);
    color: var(--color-background);
}


body {
    box-sizing: border-box;
    background-color: var(--color-background);
    color: var(--color-text);    
}


.presentation {
    display: flex;
    padding: 5% 7%;
    justify-content: space-between;
    gap: 82px;
}


.presentation__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width: 50%;
    gap: 2.5rem;
}


.presentation__content__title {
    color: var(--color-text);
    font-size: var(--font-titles-size);
    font-family: var(--font-titles);
}


.strong__h1 {
    color:var(--color-primary);
}


.presentation__content__paragraph {
    color: var(--color-text);
    font-size: var(--font-text-size);
    font-family: var(--font-text);
    text-align: center;
    /*border-style: outset;*/
    border: 3px double var(--color-text);
    border-color: var(--color-secondary);
    border-radius: 8px;
    width: 34.375rem;
    height: 11.25rem;
    padding: 5px;   
}


.presentation__content__about {
    color: var(--color-text);
    font-size: var(--font-text-size);
    font-family: var(--font-text);
    text-align: center;
    align-content: center;
    justify-content: center;
    gap: 1rem;
    padding: 17%;
    width: auto;
}


.presentation__content__cv {
    color: var(--color-text);
    font-size: var(--font-big-size);
    font-family: var(--font-text);
    text-align: center;
    padding: 30%;
}


.strong__p {
    color: var(--color-secondary);
}


.presentation__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}


.presentation__links__subtitle {
    display: flex;
    flex-direction: column;
    align-content: center;
    color: var(--color-text);
    font-size: var(--font-intermediate-size);
    font-family: var(--font-titles);
}


.presentation__links__icons {
    width: 30px;
    height: 30px;
}


.presentation__links__buttons {
    background-color: var(--color-background);
    color: var(--color-text);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 16px;
    width: 50%;
    font-size: var(--font-intermediate-size);
    border: 2px solid var(--color-primary);
    border-radius: 8px;
    font-family: var(--font-text);
   
}


a:hover {
    background-color: var(--color-primary);
}


.presentation__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    max-width: 100%;
}


.curriculum__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 5%;
}


.curriculum__list__position {
    font-size: var(--font-intermediate-size);
    font-family: var(--font-titles);
    text-align: center;
}

.curriculum__list__paragraph {
    color: var(--color-text);
    font-size: var(--font-text-size);
    font-family: var(--font-text);
    text-align: center;
    padding: 5px;

}

.curriculum__list__item {
    color: var(--color-text);
    font-size: var(--font-text-size);
    font-family: var(--font-text);
    text-align: left;
    padding: 5px;
}

.footer {
    background-color: var(--color-primary);
    color: var(--color-background);
    text-align: center;
    font-family: var(--font-text);
    font-size: var(--font-intermediate-size);
    font-weight: 400;
    padding: 0.875rem;
}

.curriculum__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32.5rem;
    height: 45rem;
}

@media (max-width: 1200px) {

    .header {
        padding: 10%;
    }

    .header__menu {
        justify-content: center;
        gap: 2rem;
    }

    .header__menu__links {
        font-size: var(--font-text-size);
        padding: 5px;
    }
    
    .presentation {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 5%;
    }

    .presentation__content__paragraph {
        align-content: center;
        width: auto;
        height: auto;
        gap: 1.5rem;
    }

    .presentation__image {
        width: 65%;
        align-content: center;
    }

    .presentation__content__about {
        width: 100%;
        padding: 5%;
    }

    .presentation__links__buttons {
        width: 80%;
    }

    .curriculum__list {
        width: 100%;
        gap: 1.5rem;
    }

    .curriculum__image {
        width: 65%;
        height: auto;
    }
}